source https://api.nuget.org/v3/index.json


nuget Azure.Identity
nuget Azure.Security.KeyVault.Keys
nuget Nichelson
nuget TzWatch.Lib
nuget Microsoft.Extensions.Hosting.WindowsServices
nuget Nethereum.Web3
nuget AWSSDK.KeyManagementService 
nuget AWSSDK.Extensions.NETCore.Setup 
nuget LiteDB
nuget Giraffe 5.0.0

nuget Newtonsoft.Json == 13.0.1

group Build
    source https://api.nuget.org/v3/index.json
    nuget Packaging.Targets

group Test
    source https://api.nuget.org/v3/index.json
    nuget altcover
    nuget FsUnit.xUnit
    nuget Microsoft.NET.Test.Sdk
    nuget xunit.runner.visualstudio