source https://api.nuget.org/v3/index.json

nuget Nichelson
nuget TzWatch.Lib
nuget FSharp.Core
nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.Hosting.WindowsServices
nuget System.Net.NameResolution
nuget FsUnit.xUnit
nuget Microsoft.NET.Test.Sdk
nuget xunit.runner.visualstudio
nuget Netezos.Keys
nuget Netezos.Ledger
nuget HidSharp
nuget Nethereum.Web3 3.8.0
nuget AWSSDK.KeyManagementService 3.5.1.6
nuget AWSSDK.Extensions.NETCore.Setup 3.3.101
nuget LiteDB
nuget Giraffe 5.0.0-rc-6 rc
nuget altcover ~> 7
nuget Packaging.Targets 0.1.189

// [ FAKE GROUP ]
group Build
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Fake.IO.FileSystem 5.20.4-alpha.1642
    nuget Fake.Core.Target 5.20.4-alpha.1642
    nuget Fake.Core.ReleaseNotes 5.20.4-alpha.1642
    nuget FAKE.Core.Environment 5.20.4-alpha.1642
    nuget Fake.DotNet.Cli 5.20.4-alpha.1642
    nuget FAKE.Core.Process 5.20.4-alpha.1642
    nuget Fake.DotNet.AssemblyInfoFile 5.20.4-alpha.1642
    nuget Fake.Tools.Git 5.20.4-alpha.1642
    nuget Fake.DotNet.Paket 5.20.4-alpha.1642
    nuget Fake.Api.GitHub 5.20.4-alpha.1642
    nuget Fake.BuildServer.AppVeyor 5.20.4-alpha.1642
    nuget Fake.BuildServer.Travis 5.20.4-alpha.1642
    nuget Fantomas
    nuget Fantomas.Extras
    nuget Argu

group Analyzers
  source https://www.nuget.org/api/v2
  source https://api.nuget.org/v3/index.json
  nuget BinaryDefense.FSharp.Analyzers.Hashing 0.2.1